option_settings:
  aws:elasticbeanstalk:application:environment:
    PORT: 8080
    NODE_ENV: production

container_commands:
  01_install_dependencies:
    command: "npm install --production=false"
  02_build_application:
    command: "npm run build"
  03_prune_devdependencies:
    command: "npm prune --production"
